
@{
    ViewBag.Title = "DynamicSoft";
}

<h2>DynamicSoft</h2>

<div id="dwtcontrolContainer"></div>
<input type="button" value="Scan" onclick="AcquireImage();" />

<input type="button" value="Upload" onclick="UploadImage();" />

<script src="~/Resources/dynamsoft.webtwain.initiate.js"></script>
<script src="~/Resources/dynamsoft.webtwain.config.js"></script>

<script>
    function AcquireImage() {
        var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain("dwtcontrolContainer");
        DWObject.IfDisableSourceAfterAcquire = true;    // Source will be closed automatically after acquisition.
        //DWObject.IfShowUI = false;
        DWObject.SelectSource();
        DWObject.OpenSource();
        DWObject.AcquireImage();
    }
</script>