
@{
    ViewBag.Title = "TwainNet";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Scanning test</title>
</head>
<body>

<h3>Select a scanner</h3>
<select id="scanners"></select>
<input type="button" value="Scan" onclick="scan();" />

<h3>Form</h3>
<form method="post" action="/Home/SaveForm">
    <input type="text" id="message" />
    <img id="scan-result" alt="" width="200" height="200" onchange="document.getElementById('image').value=this" />
    <input type="hidden" id="image" />
    <input type="submit" id="sendmessage" value="Save" />
</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="http://localhost:8080/signalr/hubs"></script>

<script type="text/javascript">

    if (window.File && window.FileReader && window.FileList && window.Blob) {
        console.log("test");
    } else {
        //alert('The File APIs are not fully supported in this browser.');
    }

    function scan() {
        var item = $("#scanners").val();
        chat.server.scan($.connection.hub.id, item);
    }

    var chat = null;

    $(function () {
    //Set the hubs URL for the connection
        $.connection.hub.url = "http://localhost:8080/signalr";
         chat = $.connection.myHub;

         console.log($.signalR.connectionState.connected);

        // response
        chat.client.scanresponse = function (message) {
            console.log(message);
        }

        chat.client.scandata = function (item) {

            document.getElementById('scan-result').setAttribute('src', 'data:image/png;base64,' + item);

            //http://stackoverflow.com/questions/11089732/display-image-from-blob-using-javascript-and-websockets
            //http://stackoverflow.com/questions/13390454/receive-blob-in-websocket-and-render-as-image-in-canvas
        }

        chat.client.addMessage = function (message) {

            $("#scanners").append("<option></option>");

            $.each(message, function (k,v) {
                $("#scanners").append("<option>" + v + "</option>");
            });
        };

        $.connection.hub.logging = true;

        // Start the connection.
        $.connection.hub.start({ waitForPageLoad: false }).done(function () {

            chat.server.getList($.connection.hub.id);

            

            //request
            $('#sendmessage').click(function () {
                    

            });
        });

        $.connection.hub.error(function (err) {
            console.log(err);
        });
    });
    </script>
</body>
</html>

